/* TR Dashboard */

.tr-dash-row {
	margin-left: -15px;
	margin-right: -15px;
	overflow:  hidden;
}

.tr-dash-content {
    margin-top: 30px;
}

.tr-dash-col-2,
.tr-dash-col-3,
.tr-dash-col-4{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;	
    float: left;
}

.tr-dash-col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 47%;
    max-width: 47%;}

.tr-dash-col-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 30.222222%;
	flex: 0 0 30.222222%;
	max-width: 30.222222%;
}

.tr-dash-col-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;	
}

h1.tr-dash-heading {
    font-size: 30px;
    margin-bottom: 30px;
}

.tr-dash-item-box {
    background-color: #fff;
    padding: 30px 30px 40px;
    text-align:  center;
	margin-bottom:30px;
}

.tr-dash-item-body p {
	margin-bottom: 20px;
	min-height: 60px;
}

.tr-dash-item-body .tr-dash-item-btn {
    text-decoration:  none;
    background-color: #00aeef;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
	display:block;
	border:1px solid #00aeef;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;	
}

.tr-dash-item-body .tr-dash-item-btn:hover {
	color:#00aeef;
	background-color:transparent;
}

.about-wrap h2 {
	margin-top:0;
	font-size:32px;
}

.pika-single.is-bound { z-index: 999999999!important; }

#toplevel_page_calibar-core-calibar-dashboard .toplevel_page_calibar-core\/calibar-dashboard .wp-menu-image img {
    width: 47%;
}

.wp-badge.themeregion-welcome-logo {
	background-color: transparent;
    background: url(../img/qt-icon.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 20px;
}

.about-wrap .wp-badge {
    position: absolute;
    top: 0;
    right: 0;
}

.settings-section h2 {
    text-align: left;
}

.settings-section form {
    background-color: #fff;
    padding: 40px;
}
.settings-section th {
    width: 90px;
}
.settings-section input[type="text"] {
    width: 330px;
}
iframe {
    float: right;
}
pre {
    background-color: #ddd;
	padding: 10px;
	text-align: center;
}

/* Notice for the  theme*/
.notice.is-dismissible.tr-plugin-notice {
    border-left: 5px solid #00aeef;
    width: 60%;
    overflow: hidden;
    clear: both;
    position: relative;
	padding-right:0;
}

.tr-plugin-notice .notice-message {
    width: 73%;
    float: left;
}

.tr-plugin-notice .notice-cta {
    width: 25%;
    background-color: #00aeef;
	font-size:16px;
	float:right;
	margin-right:1px;
}

.tr-plugin-notice .notice-cta .tr-button {
    color: #fff;
    text-decoration: none;
	padding: 20px 10px;
	display:block;
}

.tr-plugin-notice .notice-cta .tr-button i {
    margin-right: 15px;
	font-size:25px;
}

.tr-plugin-notice .notice-cta .tr-button:focus,
.notice-dismiss:focus{
	box-shadow:none;
}


.tr-plugin-notice .notice-dismiss:active:before, 
.tr-plugin-notice .notice-dismiss:focus:before, 
.tr-plugin-notice .notice-dismiss:hover:before{
	color:#fff;
}

.tr-features .tr-feature {
    background-color: #fff;
    padding: 20px;
}
.tr-text-center {
    text-align: center;
}

.tr-pro-features {
    padding: 30px 0;
}

.tr-pro-features .tr-feature {
    background-color: #fff;
    padding: 20px;
}

.tr-upgrade-sticky-footer.tr-text-center {
    position: fixed;
    bottom: 0;
    background: #fff;
    width: calc(100% - 245px);
    z-index: 9;
    margin-left: -25px;
    text-align: center;
    border: 1px solid #dfdfdf;
    padding: 15px 0;
    border-bottom: none;
}

.tr-feature-video {
    padding: 30px 0;
    text-align: center;
}

.tr-feature-video iframe {
    width: 100%
}

@media (min-width: 992px) and (max-width: 1199px) {
	.tr-dash-col-3 {
		-ms-flex: 0 0 46%;
		flex: 0 0 46%;
		max-width:46%;
	}	
	.about-wrap h1 {
		margin-right:250px;
		font-size:36px;
	}
	.wp-badge.themeregion-welcome-logo {
		padding:30px;
	}
	.notice.is-dismissible.tr-plugin-notice {
		width:80%;
	}
	.tr-plugin-notice .notice-message {
		width:70%;
	}
}

@media (max-width: 991px) {
	.tr-dash-col-3 {
		-ms-flex: 0 0 45%;
		flex: 0 0 45%;
		max-width:45%;
	}	
	.about-wrap h1 {
		margin-right:250px;
		font-size:36px;
	}
	.wp-badge.themeregion-welcome-logo {
		padding:30px;
	}
	.tr-dash-item-body .tr-dash-item-btn {
		padding: 10px 15px;
	}
	.notice.is-dismissible.tr-plugin-notice {
		width:90%;
	}	
	.tr-plugin-notice .notice-message{
		width:70%;
	}	
}

@media (max-width: 767px) {
	.tr-dash-col-3 {
		-ms-flex: 0 0 44%;
		flex: 0 0 44%;
		max-width:44%;
	}	
	.about-wrap h1 {
		margin-right:230px;
		font-size:26px;
	}
	.wp-badge.themeregion-welcome-logo {
		padding:20px;
	}
	.about-wrap .about-description, .about-wrap .about-text {
		font-size:16px;
	}
	.about-wrap h2 {
		font-size:26px;
	}
	.tr-plugin-notice .notice-cta {
		margin-right:5px;
	}
}

@media (max-width: 767px) {
	.tr-dash-col-3 {
		-ms-flex: 0 0 93%;
		flex: 0 0 93%;
		max-width:93%;
	}	
	.wp-badge.themeregion-welcome-logo {
		padding:20px;
	}
	.tr-dash-item-body p {
		margin-bottom:15px;
	}
	.tr-dash-item-box {
		margin-bottom:15px;
	}
	.tr-plugin-notice .notice-cta {
		width:28%;
	}
}

@media (max-width: 575px) {	
	.wp-badge.themeregion-welcome-logo {
		max-width:130px;
	}
	.tr-plugin-notice .notice-message,
	.tr-plugin-notice .notice-cta{
		float:none;
		width:100%;
	}
	.notice.is-dismissible.tr-plugin-notice {
		width:95%;
	}
	.tr-plugin-notice .notice-dismiss {
		top:inherit;
		bottom:20px;
	}
}

@media (max-width: 475px) {
	.wp-badge.themeregion-welcome-logo {
		right:inherit;
		left:-10px;
	}
	.about-wrap h1 {
		margin-right:0;
		margin-top:100px;
	}

}